<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
</head>

<body class="container">

    <header>
        <%- include ('../partials/header') %>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <%- include ('../partials/footer') %>
    </footer>

</body>

</html> -->